.write{
    padding-top: 50px;
    display: flex;
    gap: 30px;
}

.container{
    flex: 8;
}

.writeImage{
    margin-left: 50px;
    width: 80vh;
    height: auto;
    border-radius: 10px;
}

.content {
    flex: 5;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    gap: 20px;
}

.content input{
    padding: 20px;
    font-size: 25px;
    margin-top: 15px;
    border: 1px solid lightgray;
}

.editorContainer {
    height: 300px;
    overflow: hidden;
    border: 1px solid lightgray;
}

.editor {
    height: 100%;
    border: none;
}

.writeIcon{
    width: 100px;
    height: 100px;
    margin-left: 50px;
    margin-bottom: 10px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: rgb(136, 131, 131);
    cursor: pointer;
}

.writeTitle{
    padding: 30px;
}

.writeText{
    font-size: 20px;
    height: 400px;
    margin-top: 15px;
    border: none;
}

.writeSubmit{
    top: 20px;
    right: 50px;
    background-color: teal;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.menu {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.menu .item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    margin-right: 15px;
    margin-top: 55px;
    border: 1px solid lightgray;
}

.cat {
    display: flex;
    gap: 5px;
}